<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src=http://www.topsexstory.com/wp-content/uploads/2015/04/Anushka-Sharma-nude-hot-hairy-pussy.jpg alt="W3Schools.com" width="104" height="142" title="Nude">
<%=	render 'layouts/navigation'  %>

<div class="container">
  <%= yield %>

  <%= render 'layouts/footer'	  %>

</div>


</body>
</html>
